* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Vazirmatn";
  src: url("/Vazirmatn-Medium.ttf") format("truetype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  direction: rtl;
  scroll-behavior: smooth;
}
body {
  @apply bg-white text-black;
  font-family: "Vazirmatn";
}
.input_label {
  @apply block text-sm font-semibold leading-6 text-gray-900;
}
.input_text {
  @apply block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 
  ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset 
  focus:ring-indigo-600 sm:text-sm sm:leading-6 outline-none;
}
.error_message {
  @apply text-red-500 text-xs lg:text-sm mt-1;
}
.button {
  @apply block w-full rounded-md bg-indigo-600 px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600;
}
